<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- <link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet"> -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- <link rel="stylesheet" href="css/footer.css"> -->
    <link rel="stylesheet" href="{% static 'includes/css/footer.css' %}">

  </head>
  <body>

    <footer>
      <div class="container">
        <div class="row">

          <div class="col-md-3 col-sm-6 footer-col">
            <div class="logofooter"> KRI-8</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p><i class="fa fa-map-pin"></i>  #123, 4th Main, 5th Cross, Bangalore</p>
            <p><i class="fa fa-phone"></i> Phone : +91-9876543210</p>
            <p><i class="fa fa-envelope"></i> E-mail : info@example.com</p>
          </div>

          <div class="col-md-3 col-sm-6 footer-col">
            <h6 class="heading7">Popular Searches</h6>
            <ul class="footer-ul">
              <li><a href="#"> Men Hoodies</a></li>
              <li><a href="#"> Women Hoodies</a></li>
              <li><a href="#"> Denim Jeans</a></li>
              <li><a href="#"> Denim Jackets</a></li>
            </ul>
          </div>

          <div class="col-md-3 col-sm-6 footer-col">
            <h6 class="heading7">Latest Posts</h6>
            <div class="post">
              <p>Facebook crack the movie advertisment code:what it means for you...
              <a href="#">Click here</a><span>April 6, 2021</span></p>
              <p>Facebook crack the movie advertisment code:what it means for you...
              <a href="#">Click here</a><span>April 6, 2021</span></p>
              <p>Facebook crack the movie advertisment code:what it means for you...
              <a href="#">Click here</a><span>April 6, 2021</span></p>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 footer-col">
            <h6 class="heading7">Social Media</h6>
            <ul class="footer-social">
              <li><a href="#"><i class="fa fa-facebook social-icon facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram social-icon instagram" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter social-icon twitter" aria-hidden="true"></i></a></li>
            </ul>
          </div>

        </div>
      </div>

      <div class="copyright">
        <div class="col-md-6">
          <p>Copyright © 2021 | All Rights Reserved - KRI-8</p>
        </div>

        <div class="col-md-6">
          <ul class="bottom_ul">
            <li><a href="#"> kri8.com</a></li>
            <li><a href="#"> About Us</a></li>

            <li><a href="#"> FAQs</a></li>
            <li><a href="#"> Privacy Policy</a></li>
            <li><a href="#"> Terms & Conditions</a></li>
          </ul>
        </div>
      </div>

    </footer>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified jQuery -->
    <script src="http://code.jquery.com/jquery-3.1.1.js"
    integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>

  </body>
</html>
